* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #3d3d3d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3%;
}



.mask{
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* backdrop-filter: blur(150px); */
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
    height: auto;
    padding-bottom: 5%;
}

.content h1 {
    width: max-content;
}

.content h2 {
    width: max-content;
}

.content .pin-right {
    position: absolute;
    height: 160%;
    width: 50%;
    top: 50%;
    right: 0;
    border-radius: 10px;
    box-shadow: 0 0 18px rgba(234, 83, 83, .2);
    transform: translate(0, -50%);
    transition: box-shadow 0.5s ease;
}

.content>.left{
    width: 40%;
}

.content .pin-right:hover {
    box-shadow: 0 0 18px rgba(234, 83, 83, .77);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 35px;
    background-color: #EA5353;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
    box-shadow: 0 0 10px rgba(86, 70, 164, 0.596);
}

.btn:hover {
    background-color: #ee3a3a;
}

.apply-box {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.apply-box>input[type="text"] {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 35px;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    padding-left: 2rem;
    margin-bottom: 5%;
    box-shadow: 0 0 10px rgba(234, 83, 83, .77);
}

.apply-box>#submit{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 35px;
    background-color: #EA5353;
    color: #ffffff;
    font-size: 1.2rem;
    padding: auto 1rem;
    margin-bottom: 5%;
    box-shadow: 0 0 10px rgba(234, 83, 83, .77);
}

.apply-box label {
    margin-bottom: 5%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.apply-box label>input[type="text"] {
    flex: 1;
    width: auto;
    height: 50px;
    border: none;
    border-radius: 35px;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    padding-left: 2rem;
    margin: 0 0.5rem;
    box-shadow: 0 0 10px rgba(234, 83, 83, .77);
}

.apply-box input::placeholder {
    color: #888;
}

.apply-box input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(234, 83, 83, .77);
}

.popup {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    /* backdrop-filter: blur(8px); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup>.card {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3% 5%;
    box-shadow: 0 0 10px rgba(234, 83, 83, .77);
}

.logo {
    z-index: -1;
    position: absolute;
    transition: opacity transform 0.75s ease;
    transform: translate(-50%, -50%) scale(10);
    /* transform: scale(10); */
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .content {
        width: 80%;
    }

    .content h2 {
        width: auto;
    }

    .logo {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .content {
        width: 90%;
    }

    .content h2 {
        width: auto;
    }

    .logo {
        display: none !important;
    }
}
